body {
  background-color: rgb(3, 3, 3);
  margin: 0;
}

header {
  padding: 5px 0px 0px 0px;
  margin-left: 8%;
}

h1 {
  color: rgb(183, 187, 189);
  font-size: 12pt;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 46vw;
  grid-gap: 3%;
  padding: 1% 0% 2% 8%;
  height: 90vh;
  max-width: 100vw;
  margin-bottom: 3%;
}

.column-1-btn {
  height: 100%;
  width: auto;
  border: none;
  cursor: pointer;
  background-color: black;
}

.column-1-btn:hover {
  box-shadow: 1px 1px 8px -1px rgb(251, 252, 184);
}

.column-2-btn {
  height: 45%;
  width: auto;
  cursor: pointer;
  border: none;
  background-color: black;
}

.column-2-btn:hover {
  box-shadow: 1px 1px 10px 2px rgb(251, 252, 184);
}

.california-science-img {
  height: 100%;
  width: auto;
}

.african-art-img {
  height: 100%;
  width: auto;
}

.palm-springs-img {
  height: 100%;
  width: auto;
}

p {
  color: white;
  padding-left: 6px;
  line-height: 10px;
  margin-bottom: 6%;
}

@media screen and (min-width: 300px) {
  p {
    color: white;
    font-size: 4pt;
  }
}

@media screen and (min-width: 600px) {
  p {
    color: white;
    font-size: 6pt;
  }
}

@media screen and (min-width: 1000px) {
  p {
    color: white;
    font-size: 10pt;
  }
}

@media screen and (min-width: 1200px) {
  p {
    color: white;
    font-size: 12pt;
  }
}

@media screen and (min-width: 1600px) {
  p {
    color: white;
    font-size: 14.5pt;
  }
}
